<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lectura de Sensor</title>
    <script>
        function actualizarDatos() {
            // Realiza una solicitud GET a la nueva URL para obtener los valores actualizados
            fetch('/obtener-datos/')
                .then(response => response.json())
                .then(data => {
                    // Actualiza los valores en el HTML
                    document.getElementById('valor-sensor').innerText = data.valor;
                    document.getElementById('voltaje').innerText = data.voltaje;
                    document.getElementById('voltaje-corregido').innerText = data.voltaje_corregido;
                })
                .catch(error => console.error('Error al recibir los datos:', error));
        }

        // Llama a la función para actualizar los datos cada 2 segundos
        setInterval(actualizarDatos, 2000);
    </script>
</head>
<body>
    <h1>Datos del Sensor</h1>
    <p>Valor del sensor: <span id="valor-sensor">{{ valor }}</span></p>
    <p>Voltaje: <span id="voltaje">{{ voltaje }}</span></p>
    <p>Voltaje corregido: <span id="voltaje-corregido">{{ voltaje_corregido }}</span></p>
</body>
</html>
